.#*
*~
*.a
*.A.dylib
*.app
*.aps
*.bak
[Bb]in
*.bsc
*.cache
[Dd]ebug*/
*.dll
*.DS_Store
*.dylib
*.exe
*.exp
*.gch
*.gz
*_i.c
*.ilk
*.la
*.lai
*.lib
*.lo
*.log
*.map
*.ncb
*.o
*.obj
obj-*
obj/
objects-*
*.opt
*.out
*_p.c
*.pch
*.pdb
*.plg
_ReSharper*/
[Rr]elease*/
*.sbr
*.sdf
*.slo
*.so
*.suo
*.tar
Thumbs.db
*.tlb
*.tlh
[Tt]est[Rr]esult*
*.user
*.vspscc
*.xo

# linux kernel module
*.ko*
*.mod.*
*.o*
*.symvers
*tmp*/
!*.org

# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Icon must end with two \r
Icon


# Thumbnails
._*

# Files that might appear on external disk
.Spotlight-V100
.Trashes

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk

# =========================
# temporary word files
# =========================
~$*.doc